/* código do prof. Marcelo */
.carousel-item {
  /* Seletor por classe do slide do carrossel. Seletor genérico, pega TODOS e CADA item do carrossel, para aplicarmos propriedades em comum entre todos eles */
  background-position: center;
  /* Centraliza a imagem de fundo */
  background-attachment: fixed;
  /* Deixa a imagem fixa no scroll (impressão do paralaxe, mas não é paralaxe */
  background-repeat: no-repeat;
  /* Caso a imagem seja menor que o container, não se repetirá - como o size é cover, não precisaríamos dela na verdade */
  background-size: cover;
  /* Garante que a menor medida da imagem completará o container - pode haver perda de parte da imagem mas não fica espaço vazio, o contrário do contain */
  height: calc(50vh - 59px);
  /* Queremos que o banner ocupe 50% da altura da tela, incluindo o header, que tem 59 px, para isso usamos o calc() */
}

.badge.badge-pill.badge-info {
  position: absolute;
  /* Faz com que a badge promo se sobreponha ao restante do card (funciona pois o card tem position relative por default) */
  top: 10px;
  /* Alinhando 10px abaixo da linha de topo (limite do card) */
  right: 10px;
  /* Alinhando 10px para 'dentro' a partir da linha da direita (limite do card) */
  font-size: 0.9em;
  /* Definindo que a fonte será 90% do que seria naturalmente */
  padding: 5px 10px;
  /* Definindo 'margens internas' de 5px na vertical e 10px na horizontal */
}